@media (min-width: 891px) and (max-width: 1024px) {
  .page {
    margin: 0 0 0 0;
  }

  nav {
    height: 100px;
    width: 100%;
    margin: 0;
  }

  .firm,
  .re,
  .ko,
  .of {
    left: -70%;
    top: 3vmin;
  }

  .logo {
    left: -5%;
    top: -1vmin;
  }

  .fs {
    font-size: 14px;
  }

  .search-bar {
    left: -10%;
    top: -10%;
  }
  #search-btn img {
    width: 20px;
    height: 20px;
  }

  #searchInput.search {
    width: 35px;
    padding: 5px;
  }

  /* Carousel styles */
  .carousel {
    height: 700px;
  }

  .carousel-item__info {
    width: 60%;
  }

  .carousel-item__image {
    width: 40%;
  }

  .carousel-h1 {
    width: 80%;
    font-size: 3em;
    left: 10%;
    top: -5%;
  }
  .carousel-p {
    font-size: 1em;
    width: 370px;
    position: relative;
    left: 8.5%;
    top: -4%;
  }

  .con-btn {
    width: 255px;
    height: 66px;
    top: 5%;
  }

  .re-btn {
    width: 300px;
    height: 67px;
    top: 10%;
    left: 8%;
  }

  #moveLeft {
    width: 20px;
    height: 20px;
    position: relative;
    left: 10%;
    top: 22%;
  }

  #moveRight {
    position: relative;
    left: 21%;
    top: 22%;
  }

  .carousel__nav {
    width: 150px;
    height: 80px;
  }

  /* Offer section styles */
  .offer p,
  .offer h1,
  .off-info {
    width: 80%;
    left: 10%;
  }

  .info-pannel-1 {
    width: 250px;
    height: 450px;
    left: 3%;
  }

  .info-pannel-1 img {
    width: 30px;
    height: 30px;
  }
  .info-pannel-1 h2 {
    top: 22%;
    left: 11.5%;
    font-size: 3vmin;
    font-weight: lighter;
  }

  .info-pannel-1 p {
    font-size: 1.5vmin;
    width: 200px;
    position: relative;
    top: 24%;
    left: 11%;
    color: #111111;
  }

  .info-pannel-1 button img {
    width: 15px;
    height: 15px;
  }
  .info-pannel-1 button a {
    text-decoration: none;
    color: #1b5b31;
    font-size: 1.5vmin;
  }

  .info-pannel-2 {
    width: 250px;
    height: 450px;
    top: -10.5%;
    left: 35%;
  }

  .info-pannel-2 img {
    width: 30px;
    height: 30px;
  }
  .info-pannel-2 h2 {
    font-size: 3vmin;
    font-weight: lighter;
  }

  .info-pannel-2 p {
    font-size: 1.5vmin;
    width: 200px;
  }

  .info-pannel-2 button img {
    width: 15px;
    height: 15px;
  }
  .info-pannel-2 button a {
    font-size: 1.5vmin;
  }

  .info-pannel-3 {
    width: 250px;
    height: 450px;
    left: 67%;
    top: -47%;
  }

  .info-pannel-3 img {
    width: 30px;
    height: 30px;
  }
  .info-pannel-3 h2 {
    font-size: 3vmin;
    font-weight: lighter;
  }

  .info-pannel-3 p {
    font-size: 1.5vmin;
    width: 200px;
  }

  .info-pannel-3 button img {
    width: 15px;
    height: 15px;
  }
  .info-pannel-3 button a {
    font-size: 1.5vmin;
  }

  .info-pannel-3 button {
    top: 42%;
  }

  /* About section styles */
  .sticked {
    width: 50%;
  }
  .leftside {
    width: 50%;
  }

  .leftside p,
  .leftside h1,
  .paragraph-left,
  .leftside-btn {
    left: 5%;
  }

  .leftside p {
    color: white;
    font-size: small;
  }

  .leftside h1 {
    font-size: 5vmin;
    width: 180px;
  }

  .paragraph-left {
    width: 350px;

    font-size: 1.8vmin;
  }

  .leftside-btn {
    width: 245px;
    height: 67px;
    font-size: 1rem;
    left: 10%;
  }

  .content {
    position: relative;

    top: 2vmin;
  }

  .grid-item {
    position: relative;
    left: 30%;
  }

  .grid-item--width2 {
    position: relative;
    left: 20%;
  }
  .grid-item--width3 {
    position: relative;
    left: 5%;
  }

  .expanded .hidden {
    visibility: visible;
    position: relative;
    bottom: 50px;
  }

  #expandButton {
    bottom: 80px;

    width: 120px;
    height: 60px;
    font-size: 1em;
  }

  .expanded #expandButton {
    bottom: 10px; /* Adjust this value as needed */
  }

  .projects h1 {
    margin-top: 12%;
    margin-bottom: 5%;
    left: -20%;
    font-size: 6vmin;

    top: 2vmin;
  }

  .projects p {
    position: relative;
    left: -37%;
  }

  .place {
    width: 735px;
    height: 400px;

    left: 5%;
    top: 19%;
  }

  .insta-btn {
    width: 200px;
    height: 250px;
    top: -6%;
  }

  .place h1 {
    width: 400px;
    font-size: 3vmin;
    position: relative;
    top: 39%;
    left: 10.5%;
  }

  .insta-btn h4 {
    width: 170px;

    font-size: 2vmin;
  }

  .insta-btn button {
    width: 125px;
    height: 50px;
    font-size: 1rem;
    position: relative;
    top: 36%;
    left: 15%;
  }

  .logo-footer {
    width: 15%;
    left: 7%;
    top: 18%;
  }
  .footer h4 {
    font-size: 1.5vmin;
    left: 46%;
    top: 15%;
  }

  .footer-btn {
    width: 155px;
    height: 66px;
    font-size: 0.75rem;
    left: 75%;
    top: 8%;
  }

  .footer-hr {
    width: 735px;
    top: 17%;
    left: 5%;
  }

  .list-ft .lf {
    font-size: 1.5vmin;
  }

  .list-ft .lf .l1 {
    margin-right: 43px;
  }
  .list-ft {
    position: relative;
    top: 26.5%;
    left: 12.2%;
  }

  .list-ft,
  .foot-nbr,
  .foot-mail,
  .foot-copy,
  .foot-res {
    left: 5%;
  }

  .foot-img {
    width: 15%;
  }
  .foot-res {
    font-size: 2vmin;
    top: 28%;
    left: 68%;
  }

  .foot-nbr {
    font-size: 1.5vmin;
    position: relative;
    left: 65.75%;
    top: 20%;
  }

  .foot-mail {
    font-size: 1.5vmin;
    position: relative;
    left: 77%;
    top: 14.75%;
  }

  .foot-copy {
    font-size: 2vmin;
    position: relative;
    top: 34.5%;
    left: 10%;
  }
}
